<dom-module id="button-component-style">
    
    <template>
        <style>
        .button{
            align-items: center;
            background-color: var(--button-component-button-bg,darkturquoise);
            box-sizing: border-box;
            color: var(--button-component-button-color,#fff);
            cursor: pointer;
            display: flex;
            padding: 20px;
            width: 100%;
            @apply(--button-component-button);
        }
        .wrapper-icon{
            margin-right: 20px;
            @apply(--button-component-wrapper-icon);
        }
        </style>
    </template>
    
</dom-module>