<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="button-component-style.html">
<!--
`button-component`


@demo demo/index.html 
/**
      *   ### Styling
      *  `<button-component>` provides the following custom properties and mixins
      *   for styling:
      *
      *         Custom property             |         Description            |   Default
      *  -----------------------------------|--------------------------------|--------------
      *    --button-component-button        | Mixin applied to button        |     {}
      *    --button-component-wrapper-icon  | Mixin applied to wrapper icon  |     {}
      *    --button-component-button-bg     | Background color to button     |    #00ced1
      *    --button-component-button-color  | Color to button                |     #fff
      *  ------------------------------------------|-------------------------|--------------
    */

-->

<dom-module id="button-component">
  <template>
    <style include="button-component-style">
      :host {
        display: block;
      }
    </style>

    <div class="button"> 
      <div class="wrapper-icon">
         <content></content>
      </div>
      [[text]]
    </div>
  </template>

  <script>
    Polymer({
      is: 'button-component',
    });
  </script>
</dom-module>
